{% extends "master.html" %}
{% block title %}BookSpace Forum{% endblock %}
{% block content %}
<h2>Communicate with other BookSpace users in our forum!</h2>
<br>
<div class="categories">
    <h4>Choose one of the following categories in the forum: </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Threads</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></td>
                <td>{{ category.description }}</td>
                <td>{{ category.threads_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="recent-activities">
<h4>Recent Forum Activities: </h4>
{% for activity in recent_activities %}
{{ activity.display_activity }}
{% endfor %}
</div>

{% endblock %}