{% extends "master.html" %}

{% block title %}BookSpace{% endblock %}

{% block content %}
    <div>
        <h1>Welcome Back, {{request.user.first_name}}!</h1>
        <h3>We have some recommendations for you!</h3>
    </div>
    <br>

<div class="row justify-content-center d-flex flex-wrap">
    {% for book in displayed_books.all %}
        <div class="col-sm-6 col-md-3 mb-4 mx-2 d-flex">
            <div class="card" style="width: 200px; display: flex; flex-direction: column;
            height: 400px; margin: 0 auto">
                <img class="card-img-top" src="{{book.cover_url}}"
                     style="width: 200px; height: 350px; object-fit: cover; margin: 0 auto;">
                <div class="card-body d-flex flex-column" style="flex-grow: 1;">
                    <h4><a href="{% url 'book' book.slug %}"><b>{{book.title}}</b></a></h4>
                    <h5>{{book.author.name}}</h5>
                    <br><br><br>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="recent-activities">
<h2>Browse recent activities from people you follow: </h2>
{% for activity in activities %}
{{ activity.display_activity }}
{% endfor %}
</div>

{% endblock %}